* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url(./images/back.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Nav- bar */

nav {
  display: flex;
  margin-top: 1rem;
}
.nav-bar {
  width: 100%;
}
.logo {
  margin-right: auto;
  margin-left: 2rem;
}
.nav-lists {
  width: 70%;
}
.nav-list li {
  font-size: 0.5em;
  margin: 0 1em;
}

.logo-name {
  font-size: 0.6rem;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.firstLetter {
  font-size: 1.1em;
  color: #d31669;
  font-weight: 300;
}

.nav-lists {
  width: 60%;
}
.nav-list {
  list-style-type: none;
  display: flex;
  padding: 0.5em;
  margin: 0;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #f4ba0d;
}
a:hover {
  color: #d31669;
}
/* Main section */

.main-content {
  width: 100%;
  height: 80%;
  margin: 5rem;
}

#salute {
  font-size: 0.6rem;
  color: black;
  font-family: "Montserrat", sans-serif;
}
#firstSalute {
  font-size: 1rem;
  display: inline-block;
  padding-bottom: 2rem;
}
#name {
  font-size: 0.6rem;
}
#info {
  color: rgb(238, 73, 8);
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 0.6rem;
}
.btn {
  padding: 0.5rem;
  border-radius: 85px;
  background-color: #fa8072;
  color: #000080;
  font-size: 0.4rem;
}

.btn:hover {
  color: #d31669;
}
.join-list {
  margin-top: 2rem;
  color: #d31669;

  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  padding-bottom: 0.5rem;
}
.form-elements {
  margin-top: 0.6rem;
  width: 80%;
}

.select {
  width: 80px;
  display: inline-block;
  color: #d31669;
  font-size: 0.7rem;
}
input::placeholder {
  font-size: 0.5rem;
}

/* Footer */
.icons {
  color: rgb(241, 240, 255);
  margin-left: 2rem;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  .logo-name {
    font-size: 2rem;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  .nav-lists {
    width: 40%;
  }
  .nav-list li {
    font-size: 1.4em;
  }
  .firstLetter {
    font-size: 2em;
    color: #d31669;
    font-weight: 800;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 80%;
    margin: 9rem;
  }

  #info {
    color: rgb(238, 73, 8);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
    font-size: 1.4rem;
  }

  .btn {
    padding: 0.5rem;
    border-radius: 85px;
    background-color: #f4ba0d;
    color: rgb(243, 149, 126);
    font-size: 1rem;
  }
  .join-list {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  #salute {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
  }
  #firstSalute {
    font-size: 3rem;
    display: inline-block;
    padding-bottom: 2rem;
  }
  #name {
    font-size: 1.4rem;
  }
  .form-elements {
    margin-top: 0.6rem;
  }

  .select {
    width: 100px;
    display: inline-block;
  }
}
