@import "./default/default.scss";
@import "./default/color.scss";
@import "./default/button.scss";
@import "./default/flex-box.scss";
@import "./default/font.scss";
@import "./pages/contactpage.scss";
@import "./pages/aboutme.scss";

// Navigation Design

.nav-bar {
  width: 100%;
  background-color: $color-backgroung;
  height: 2.5rem;

  nav {
    @include flex-box-center;

    img {
      width: 48px;
      margin: 0 1em;
    }
    .nav-lists {
      width: 60%;
      li {
        font-size: $fontsize-general;
      }
    }
    .nav-list {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      li {
        padding-left: 1.2rem;
        a {
          text-decoration: none;
          color: $color-links;
          &:hover {
            color: $color-ahover;
          }
        }
      }
    }
  }
}

// Main section

.main-content {
  @include flex-box-center-column();
  background-image: url(./images/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80%;
  .contactMe {
    @include flex-box-center-column();
    margin-top: 1rem;
    #salute {
      font-size: $fontsize-general;
      color: black;
      text-align: center;
      font-family: $fontfamily-general;
      #firstSalute {
        font-size: $font-size-firstletters;
        display: inline-block;
        padding-bottom: 2rem;
      }
      #name {
        font-size: $font-size-firstletters;
      }
    }

    #info {
      color: $color-general;
      font-family: "Montserrat", sans-serif;
      margin-top: 2rem;
      font-weight: 600;
      margin-bottom: 1rem;
      font-size: $fontsize-general;
    }
    .btn {
      @include button();
    }
  }
  .signUp {
    @include flex-box-center-column();
    margin-bottom: 1.2rem;
    .join-list {
      margin-top: 2rem;
      color: $color-general;
      font-weight: bolder;
      font-family: $fontfamily-general;
      font-size: $fontsize-general;
      padding-bottom: 0.5rem;
    }
    .btn {
      @include button();
    }
  }
}

.form-contact {
  @include form-contact;
}
#form-contact {
  @include form-contact-general;
}
.form-elements {
  margin-top: 0.6rem;
  width: 80%;
  .select {
    width: 80px;
    display: inline-block;
    color: $color-links;
    font-size: 0.6rem;
    font-weight: bolder;
  }
  .select-input {
    width: 40%;
  }
}

.button-submit {
  text-align: center;
}
input::placeholder {
  font-size: 0.4rem;
}
#message {
  @include message();
}
textarea::placeholder {
  font-size: 0.4rem;
}
.newsletter {
  @include newsletter();
}
.checkbox {
  @include checkbox();
}
.signings {
  @include flex-box-center();
}

// About Me

.general-info {
  @include flex-box-center-column();
  @include generel-info();
}
.about-me {
  @include aboutme();
  @include flex-box-center-column();
}
.experience {
  padding-bottom: $padding-general;
  font-size: $font-size-middle;
  @include experience();
}
#experience {
  font-size: $font-size-p;
  color: $color-ahover;
  @include experience-id();
}
.experiences {
  padding-bottom: $padding-general;
  @include flex-box-center-column();
  .btn-blogs {
    @include button-about();
    &:hover {
      transform: scale(1.2);
    }
  }
  a:hover {
    color: $color-links;
  }
}
.education {
  font-size: $font-size-middle;
  padding-bottom: $padding-general;
}
#education {
  @include flex-box-center-column();
  padding-top: $padding-general;
  padding-bottom: $padding-general;
  width: 70%;
}
.about-list {
  @include about-list();
}
#blog {
  @include flex-box-center-column();
  #blogtitle {
    font-size: $font-size-middle;
  }
  .btn-blog {
    @include button-about();
    margin-bottom: 1.3rem;
    &:hover {
      transform: scale(1.2);
    }
  }

  a:hover {
    color: $color-links;
  }
}

//Blog

.blog {
  display: flex;
}

// footer
footer {
  background-color: $color-backgroung;
}
.iconShow {
  @include flex-box-center();
  height: 20px;
  width: 100vw;
  .icon-link {
    padding-top: 1.2rem;
    text-decoration: none;
    color: currentColor;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.icon-contact {
  margin-top: 9rem;
}
.icons {
  margin-left: 0.9rem;
  width: 18px;
  // width: 1.2rem;
}
.copyRight {
  display: block;
  margin-left: 0.5rem;
  font-size: 0.6rem;
  margin-top: 0.9rem;
}

// * Media Queries */

@media screen and (min-width: 600px) and (max-width: 759px) {
  .nav-bar {
    width: 100%;
    background-color: #e7f2f8;
    height: 2.5rem;
    .nav-lists {
      .nav-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        li {
          padding-left: 1.2rem;

          a {
            text-decoration: none;
            color: $color-links;
            &:hover {
              color: $color-ahover;
            }
          }
        }
      }
    }
  }

  .main-content {
    @include flex-box-center();
    width: 100%;
    height: 80%;
    .contactMe {
      margin-right: 5rem;
      @include flex-box-center();
      #salute {
        color: black;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        #firstSalute {
          font-size: 2rem;
          display: inline-block;
          padding-bottom: 2rem;
        }
        #name {
          font-size: 2rem;
        }
      }
      #info {
        color: rgb(238, 73, 8);
        font-family: "Montserrat", sans-serif;
        margin-top: 2rem;
        font-weight: 600;
        margin-bottom: 1.4rem;
        font-size: 1.2rem;
      }
      .btn {
        padding: 0.5rem;
        border-radius: 85px;
        background-color: #c3e0e5;
        color: $color-btn;
        font-size: 0.6rem;
      }
    }
    .signUp {
      @include flex-box-center-column();
      margin-bottom: 1.2rem;
      .join-list {
        margin-top: 2rem;
        color: $color-general;
        font-weight: bolder;
        font-family: $fontfamily-general;
        font-size: $font-size-middle;
        padding-bottom: 0.5rem;
      }
      .btn {
        @include button();
      }
    }
  }

  .form-contact {
    background-image: url(./images/contact.jpg);
    background-size: cover;

    width: 100%;
    height: 100%;
  }
  .btn {
    padding: 0.5rem;
    border-radius: 85px;
    background-color: #c3e0e5;
    color: $color-btn;
    font-size: 1rem;
  }
  .join-list {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .form-elements {
    margin-top: 0.6rem;
    width: 100%;
  }

  .select {
    width: 140px;
    display: inline-block;
    font-size: 1rem;
  }
  .select-input {
    width: 50%;
  }
  input::placeholder {
    font-size: 0.8rem;
  }
  .copyRight {
    padding-bottom: 0.4rem;
  }
  .icons {
    margin-left: 0.9rem;
    width: 48px;
    // width: 1.2rem;
  }
}
@media screen and (min-width: 760px) and (max-width: 959px) {
  .nav-bar {
    width: 100%;
    background-color: #e7f2f8;
    height: 2rem;
  }

  .logo-name {
    font-size: 0.8rem;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  .nav-lists {
    width: 80%;
  }
  .nav-list li {
    font-size: 0.9em;
  }
  .firstLetter {
    font-size: 1.2em;

    font-weight: 800;
  }
  .main-content {
    @include flex-box-center();
    width: 100%;
    height: 80%;
  }
  .contactMe {
    margin-right: 5rem;
  }
  .form-contact {
    background-image: url(./images/contact.jpg);
    background-size: cover;

    width: 100%;
    height: 100%;
  }
  .btn {
    padding: 0.5rem;
    border-radius: 85px;
    background-color: #c3e0e5;
    color: $color-btn;
    font-size: 1rem;
  }
  .join-list {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  #salute {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
  }
  #firstSalute {
    font-size: 53rem;
    display: inline-block;
    padding-bottom: 2rem;
  }
  #info {
    color: rgb(238, 73, 8);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
  }
  #name {
    font-size: $font-size-middle;
  }
  .form-elements {
    margin-top: 0.6rem;
    width: 100%;
  }

  .select {
    width: 140px;
    display: inline-block;
    font-size: 1rem;
  }
  .select-input {
    width: 50%;
  }
  input::placeholder {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 960px) {
  .nav-bar {
    width: 100%;
    background-color: #e7f2f8;
    height: 2.3rem;
  }

  .logo-name {
    font-size: 1.2rem;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  .nav-lists {
    width: 70%;
  }
  .nav-list li {
    font-size: $fontsize-big;
  }
  .firstLetter {
    font-size: 1.2em;

    font-weight: 800;
  }
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
  }
  .contactMe {
    margin-right: 5rem;
  }
  .form-contact {
    background-image: url(./images/contact.jpg);
    background-size: cover;

    width: 100%;
    height: 100%;
  }
  .btn {
    padding: 0.5rem;
    border-radius: 85px;
    background-color: #c3e0e5;
    color: $color-btn;
    font-size: 1rem;
  }

  #salute {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: $font-size-firstletters;
    #firstSalute {
      font-size: $font-size-firstletters;
      display: inline-block;
      padding-bottom: 2rem;
    }
    #name {
      font-size: $font-size-middle;
    }
  }

  #info {
    color: rgb(238, 73, 8);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
    font-size: $fontsize-big;
  }
  .join-list {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: $font-size-bigger;
    padding-bottom: 0.5rem;
  }

  .form-elements {
    margin-top: 0.6rem;
    width: 100%;
    .select {
      width: 140px;
      display: inline-block;
      font-size: 1rem;
    }
    .select-input {
      width: 50%;
    }
  }

  input::placeholder {
    font-size: 0.8rem;
  }
}
