@import "./default/default.scss";
@import "./default/color.scss";
@import "./default/button.scss";
@import "./default/flex-box.scss";
@import "./default/font.scss";
@import "./pages scss/contactpage.scss";
@import "./pages scss/aboutme.scss";

// Navigation Design

.nav-bar {
  width: 100%;
  background-color: $color-backgroung;
  height: 2.5rem;

  nav {
    @include flex-box-center;

    img {
      width: 48px;
      margin: 0 1em;
    }
    .nav-lists {
      width: 60%;
      li {
        font-size: $fontsize-general;
      }
    }
    .nav-list {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      li {
        padding-left: 1.2rem;
        a {
          text-decoration: none;
          color: $color-links;
          &:hover {
            color: $color-ahover;
          }
        }
      }
    }
  }
}

// Main section

.main-content {
  @include flex-box-center;
  margin-top: 0.3rem;

  width: 100%;
  .contactMe {
    @include flex-box-center-column();
    background-color: $color-left-side;
    border-radius: 15%;
    padding-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 300px;
    #salute {
      font-size: $fontsize-general;
      color: black;
      text-align: center;
      font-family: $fontfamily-general;
      #firstSalute {
        font-size: $font-size-firstletters;
        display: inline-block;
        padding-bottom: 2rem;
      }
      #name {
        font-size: $font-size-firstletters;
      }
    }

    #info {
      color: $color-general;
      font-family: "Montserrat", sans-serif;
      margin-top: 2rem;
      font-weight: 600;
      margin-bottom: 1rem;
      font-size: $fontsize-general;
    }
    .btn {
      @include button-mobile();
    }
  }
  .signUp {
    @include flex-box-center-column();
    height: 300px;
    background-color: $color-right-side;
    border-radius: 15%;
    margin-right: 0.5rem;

    .join-list {
      margin-top: 0.6rem;
      color: $color-general;
      font-weight: bolder;
      font-family: $fontfamily-general;
      font-size: $fontsize-general;
      padding-bottom: 0.5rem;
    }
    #form-signUp {
      .form-elements {
        margin-top: 0.6rem;
        width: 80%;
        .select {
          width: 80px;
          display: inline-block;
          color: $color-links;
          font-size: 0.6rem;
          font-weight: bolder;
        }
        .select-input {
          width: 35%;
          &::placeholder {
            font-size: 0.4rem;
          }
        }
        .btn {
          @include button-mobile;
        }
      }
    }
  }
}

.button-submit {
  text-align: center;
}

//Blogs section
.wrapper {
  background-color: $color-backgroung;
  .blog {
    height: 100%;

    margin-top: 1.2rem;
    width: 80%;
    background-color: $color-backgroung;
    flex: 1;

    h1 {
      display: block;
      text-align: center;
      margin-bottom: 2rem;
      padding-top: 0.8rem;
    }
    .blogs {
      .blog-examples {
        list-style-type: none;

        li {
          display: block;
          width: 80%;

          margin-top: 1.5rem;
          margin-left: 2rem;

          a {
            display: inline-block;
            text-decoration: none;
            color: $color-text;
            padding-top: 0.5rem;
            padding-bottom: 0.6rem;

            &:hover {
              transform: scale(1.1);
            }

            img {
              width: 100%;
              padding-top: 1.2rem;
              display: block;
            }
          }
        }
        &:last-child {
          margin-bottom: 5rem;
        }
      }
    }
  }
}

// footer
footer {
  background-color: $color-footer;
  @include flex-box-center-column-footer;
  width: 100%;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.iconShow {
  @include flex-box-center();
  height: 20px;
  width: 100vw;
  .icon-link {
    padding-top: 1.2rem;
    text-decoration: none;
    color: currentColor;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.icon-contact {
  margin-top: 9rem;
}
.icons {
  margin-left: 0.9rem;
  width: 18px;
  // width: 1.2rem;
}
.copyRight {
  display: block;
  margin-left: 0.5rem;
  font-size: 0.6rem;
  margin-top: 0.9rem;
}

// * Media Queries */

@media screen and (min-width: 600px) and (max-width: 759px) {
  .nav-bar {
    @include flex-box-center;
    nav {
      width: 100%;
      background-color: $color-backgroung;
      height: 2.3rem;
      .logo {
        a {
          img {
            width: 64px;

            margin: 0 1em;
          }
        }
      }
      .nav-lists {
        width: 80%;
        li {
          a {
            text-decoration: none;
            font-size: $font-size-firstletters;
            margin-left: 0.7rem;
          }
        }
      }
    }
  }

  .main-content {
    @include flex-box-center();
    width: 100%;
    height: 80%;
    .contactMe {
      margin-right: 5rem;
      @include flex-box-center();

      #salute {
        color: black;
        font-family: $fontfamily-general;
        font-size: $font-size-firstletters;
        #firstSalute {
          font-size: $font-size-bigger;
          display: inline-block;
          padding-bottom: 2rem;
        }
        #name {
          font-size: $font-size-firstletters;
        }
      }
      #info {
        color: rgb(238, 73, 8);
        font-family: "Montserrat", sans-serif;
        margin-top: 2rem;
        font-weight: 600;
        margin-bottom: 1.4rem;
        font-size: $font-size-p;
      }
      .btn {
        @include button-middle;
      }
    }
    .signUp {
      @include flex-box-center-column();
      margin-bottom: 1.2rem;
      .join-list {
        margin-top: 2rem;
        color: $color-general;
        font-weight: bolder;
        font-family: $fontfamily-general;
        font-size: $font-size-middle;
        padding-bottom: 0.5rem;
      }
      #form-signUp {
        .form-elements {
          margin-top: 0.6rem;
          width: 100%;
          .select {
            width: 42%;
            display: inline-block;
            font-size: 1rem;
          }
          .select-input {
            width: 40%;
          }
          input::placeholder {
            font-size: 0.8rem;
          }
          .btn {
            @include button-middle;
          }
        }
      }
    }
  }

  .form-contact {
    background-image: url(./images/contact.jpg);
    background-size: cover;

    width: 100%;
    height: 100%;
  }
  .btn {
    padding: 0.5rem;
    border-radius: 85px;
    background-color: #c3e0e5;
    color: $color-btn;
    font-size: 1rem;
  }
  .join-list {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  .wrapper {
    background-color: $color-backgroung;
    .blog {
      margin-top: 1.2rem;
      width: 100%;
      background-color: $color-backgroung;
      flex: 1;

      h1 {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        padding-top: 0.8rem;
      }
      .blogs {
        .blog-examples {
          list-style-type: none;

          li {
            display: block;
            width: 80%;

            margin-top: 1.5rem;
            margin-left: 2rem;

            a {
              display: inline-block;
              text-decoration: none;
              color: $color-text;
              padding-top: 0.5rem;
              padding-bottom: 0.6rem;

              &:hover {
                transform: scale(1.3);
              }

              img {
                width: 50%;
                padding-top: 0.6rem;
                display: block;
              }
            }
          }
          &:last-child {
            margin-bottom: 5rem;
          }
        }
      }
    }
  }

  footer {
    background-color: $color-footer;
    width: 100%;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    .iconShow {
      @include flex-box-center();
      height: 20px;
      width: 100vw;
      .icon-link {
        padding-top: 1.2rem;
        text-decoration: none;
        color: currentColor;
        &:hover {
          transform: scale(1.4);
        }
        .icons {
          margin-left: 0.9rem;
          width: 32px;
          // width: 1.2rem;
        }
      }
    }
    .copyRight {
      display: block;
      margin-left: 0.5rem;
      font-size: 0.6rem;
      margin-bottom: 0.9rem;
    }
  }
}
@media screen and (min-width: 760px) and (max-width: 959px) {
  .nav-bar {
    @include flex-box-center;
    nav {
      width: 100%;
      background-color: $color-backgroung;
      height: 2.3rem;
      .logo {
        a {
          img {
            width: 64px;

            margin: 0 1em;
          }
        }
      }
      .nav-lists {
        width: 80%;
        li {
          a {
            text-decoration: none;
            font-size: $fontsize-big;
            margin-left: 1.1rem;
          }
        }
      }
    }
  }
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    .contactMe {
      margin-right: 5rem;
      #salute {
        color: black;
        font-family: "Montserrat", sans-serif;
        font-size: $font-size-firstletters;
        #firstSalute {
          font-size: $font-size-bigger;
          display: inline-block;
          padding-bottom: 2rem;
        }
        #name {
          font-size: $font-size-middle;
        }
      }
      #info {
        color: rgb(238, 73, 8);
        font-family: "Montserrat", sans-serif;
        margin-top: 2rem;
        font-weight: 600;
        margin-bottom: 1.4rem;
        font-size: $font-size-firstletters;
      }
      .btn {
        @include button;
      }
    }
    .signUp {
      @include flex-box-center-column();
      margin-bottom: 1.2rem;
      .join-list {
        color: black;
        font-family: "Montserrat", sans-serif;
        font-size: $font-size-bigger;
        padding-bottom: 0.5rem;
      }

      #form-signUp {
        .form-elements {
          margin-top: 0.6rem;
          width: 100%;
          .select {
            width: 42%;
            display: inline-block;
            font-size: 1rem;
          }
          .select-input {
            width: 40%;
          }
          input::placeholder {
            font-size: 0.8rem;
          }
          .btn {
            @include button();
          }
        }
      }
    }
  }

  .form-contact {
    background-image: url(./images/contact.jpg);
    background-size: cover;

    width: 100%;
    height: 100%;
  }
  .btn {
    padding: 0.5rem;
    border-radius: 85px;
    background-color: #c3e0e5;
    color: $color-btn;
    font-size: 1rem;
  }
  .join-list {
    .select-input {
      width: 50%;
    }
  }
  .blog {
    margin-top: 1.2rem;
    width: 100%;
    background-color: $color-backgroung;

    h1 {
      display: block;
      text-align: center;
      margin-bottom: 2rem;
      padding-top: 0.8rem;
    }
    .blogs {
      .blog-examples {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 20%;

          margin-top: 1.5rem;
          margin-left: 2rem;

          a {
            display: inline-block;
            text-decoration: none;
            color: $color-text;
            padding-top: 0.5rem;
            padding-bottom: 0.6rem;
            &:hover {
              transform: scale(1.2);
              color: $color-ahover;
            }

            img {
              width: 100%;
              padding-top: 1.2rem;
              display: block;
            }
          }
        }
        &:last-child {
          margin-bottom: 2rem;
        }
      }
    }
  }
  footer {
    background-color: $color-footer;

    .iconShow {
      @include flex-box-center();
      height: 20px;
      width: 100vw;
      .icon-link {
        padding-top: 1.2rem;
        text-decoration: none;
        color: currentColor;
        &:hover {
          transform: scale(1.2);
        }
        .icons {
          margin-left: 0.9rem;
          width: 24px;
          // width: 1.2rem;
        }
      }
    }
  }

  .copyRight {
    display: block;
    margin-left: 0.5rem;
    font-size: 0.6rem;
    margin-bottom: 0.9rem;
  }
}
@media screen and (min-width: 960px) {
  .nav-bar {
    @include flex-box-center;
    nav {
      width: 100%;
      background-color: $color-backgroung;
      height: 2.3rem;
      .logo {
        img {
          width: 84px;
          height: 72px;
          margin: 0 1em;
        }
      }
      .nav-lists {
        width: 80%;
        li {
          a {
            text-decoration: none;
            font-size: $fontsize-big;
            margin-left: 1.1rem;
          }
        }
      }
    }
  }
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    .contactMe {
      margin-right: 5rem;
      width: 50%;
      background-color: $color-right-side;
      border-radius: 10%;
      #salute {
        color: black;
        font-family: "Montserrat", sans-serif;
        font-size: $font-size-firstletters;
        #firstSalute {
          font-size: $font-size-firstletters;
          display: inline-block;
          padding-bottom: 2rem;
        }
        #name {
          font-size: $font-size-middle;
        }
      }
      #info {
        color: rgb(238, 73, 8);
        font-family: "Montserrat", sans-serif;
        margin-top: 2rem;
        font-weight: 600;
        margin-bottom: 1.4rem;
        font-size: $fontsize-big;
      }
      .btn {
        @include button;
      }
    }
    .signUp {
      @include flex-box-center-column();
      background-color: $color-left-side;
      border-radius: 10%;
      margin-bottom: 1.2rem;
      .join-list {
        color: black;
        font-family: "Montserrat", sans-serif;
        font-size: $font-size-bigger;
        padding-bottom: 0.5rem;
      }

      #form-signUp {
        .form-elements {
          margin-top: 0.6rem;
          width: 100%;
          .select {
            width: 50%;
            display: inline-block;
            font-size: $font-size-firstletters;
            font-weight: 600;
            font-family: $fontfamily-general;
          }
          .select-input {
            width: 45%;
            &::placeholder {
              font-size: $font-size-firstletters;
            }
          }
          .btn {
            @include button();
          }
        }
      }
    }
  }

  .form-contact {
    background-image: url(./images/contact.jpg);
    background-size: cover;

    width: 100%;
    height: 100%;
  }
  .btn {
    padding: 0.5rem;
    border-radius: 85px;
    background-color: #c3e0e5;
    color: $color-btn;
    font-size: 1rem;
  }

  .form-elements {
    margin-top: 0.6rem;
    width: 100%;
    .select {
      width: 140px;
      display: inline-block;
      font-size: 1rem;
    }
    input::placeholder {
      font-size: 0.9rem;
    }
    .select-input {
      width: 50%;
    }
  }
  .wrapper {
    .blog {
      margin-top: 1.2rem;
      width: 100%;
      background-color: $color-backgroung;
      flex: 1;

      h1 {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        padding-top: 0.8rem;
      }
      .blogs {
        .blog-examples {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          li {
            width: 20%;

            margin-top: 1.5rem;
            margin-left: 2rem;

            a {
              display: inline-block;
              text-decoration: none;
              color: $color-text;
              padding-top: 0.5rem;
              padding-bottom: 0.6rem;

              img {
                width: 100%;
                padding-top: 1.2rem;
                display: block;
              }
            }
          }
          &:last-child {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  footer {
    background-color: $color-footer;
    .iconShow {
      @include flex-box-center();
      height: 20px;
      width: 100vw;
      .icon-link {
        padding-top: 1.2rem;
        text-decoration: none;
        color: currentColor;
        &:hover {
          transform: scale(1.6);
        }
        .icons {
          margin-left: 0.9rem;
          width: 32px;
          // width: 1.2rem;
        }
      }
    }
  }

  .copyRight {
    display: block;
    margin-left: 0.5rem;
    font-size: 0.6rem;
    margin-bottom: 0.9rem;
  }
}
