.wrapper-blog {
  background-color: #2f3148;
  height: 100vh;
  opacity: 0.8;
}
#blog {
  width: 100%;
  background-color: #2f3148;
}
#blog h1 {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 0.8rem;
}
#blog .blogs-page .blog-examples {
  list-style-type: none;
}
#blog .blogs-page .blog-examples li {
  width: 60%;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
#blog .blogs-page .blog-examples li a {
  display: inline-block;
  text-decoration: none;
  color: #8689ac;
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
}
#blog .blogs-page .blog-examples li a:hover {
  transform: scale(1.2);
  color: #e55b13;
}
#blog .blogs-page .blog-examples li a img {
  width: 100%;
  padding-top: 1.2rem;
  display: block;
}
#blog .blogs-page .blog-examples:last-child {
  margin-bottom: 2rem;
}

.blogs {
  margin-top: 0.7rem;
  margin-left: 0.6rem;
}
.blogs .heading {
  display: inline-block;
  margin-bottom: 0.6rem;
}
.heading-blog {
  margin-top: 0.7rem;
}

.images {
  display: block;
  width: 50%;
}

.content {
  width: 80%;
  margin-top: 0.6rem;
  text-align: justify;
}

/* Media Queries */

@media screen and (min-width: 600px) and (max-width: 759px) {
  .blog {
    width: 100%;
    background-color: #2f3148;
  }
  .blog h1 {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 0.8rem;
  }
  .blog .blogs-page .blog-examples {
    list-style-type: none;
  }
  .blog .blogs-page .blog-examples li {
    width: 60%;
    margin-top: 1.5rem;
    margin-left: 2rem;
  }
  .blog .blogs-page .blog-examples li a {
    display: inline-block;
    text-decoration: none;
    color: #8689ac;
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
  }
  .blog .blogs-page .blog-examples li a:hover {
    transform: scale(1.2);
    color: #e55b13;
  }
  .blog .blogs-page .blog-examples li a img {
    width: 100%;
    padding-top: 1.2rem;
    display: block;
  }
  .blog .blogs-page .blog-examples:last-child {
    margin-bottom: 2rem;
  }
  .blogs {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  .heading {
    display: inline-block;
    margin-bottom: 0.9rem;
  }

  .images {
    display: block;
    width: 30%;
  }

  .content {
    width: 90%;
    margin-top: 0.6rem;
    text-align: justify;
  }
}
@media screen and (min-width: 760px) and (max-width: 959px) {
  #blog {
    width: 100%;
    background-color: #2f3148;
  }
  #blog h1 {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 0.8rem;
  }
  #blog .blogs-page .blog-examples {
    list-style-type: none;
  }
  #blog .blogs-page .blog-examples li {
    width: 60%;
    margin-top: 1.5rem;
    margin-left: 2rem;
  }
  #blog .blogs-page .blog-examples li a {
    display: inline-block;
    text-decoration: none;
    color: #8689ac;
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
  }
  #blog .blogs-page .blog-examples li a:hover {
    transform: scale(1.2);
    color: #e55b13;
  }
  #blog .blogs-page .blog-examples li a img {
    width: 100%;
    padding-top: 1.2rem;
    display: block;
  }
  #blog .blogs-page .blog-examples:last-child {
    margin-bottom: 2rem;
  }
  .blogs {
    margin-top: 2.4rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  .heading {
    display: inline-block;
    margin-bottom: 0.9rem;
  }

  .images {
    display: block;
    width: 20%;
  }

  .content {
    margin-right: 2rem;
    width: 90%;
    margin-top: 0.6rem;
    text-align: justify;
  }
}

@media screen and (min-width: 960px) {
  #blog {
    width: 100%;
    background-color: #2f3148;
  }
  #blog h1 {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 0.8rem;
  }

  #blog .blogs-page .blog-examples {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #blog .blogs-page .blog-examples li {
    width: 80%;
    margin-top: 1.5rem;
    margin-left: 2rem;
  }
  #blog .blogs-page .blog-examples li a {
    display: inline-block;
    text-decoration: none;
    color: #8689ac;
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
  }
  #blog .blogs-page .blog-examples li .link-blogs {
    display: block;
    width: 100%;
  }
  #blog .blogs-page .blog-examples li a:hover {
    transform: scale(1.2);
    color: #e55b13;
  }
  #blog .blogs-page .blog-examples li a img {
    width: 100%;
    padding-top: 1.2rem;
    display: block;
  }
  #blog .blogs-page .blog-examples:last-child {
    margin-bottom: 2rem;
  }
  .blogs {
    margin-top: 2.8rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  .heading {
    display: inline-block;
    margin-bottom: 0.9rem;
  }

  .images {
    display: block;
    width: 20%;
  }

  .content {
    margin-right: 2rem;
    width: 60%;
    margin-top: 0.6rem;
    text-align: justify;
  }
}
