@mixin button {
  padding: 0.5rem;
  border-radius: 85px;
  background-color: #e1c340;
  color: $color-btn;
  font-size: 1rem;

  &:hover {
    color: $color-general;
    transform: scale(1.3);
  }
}

@mixin button-about {
  padding: 0.5rem;
  border-radius: 85px;
  background-color: $color-ahover;
  color: $color-btn;
  font-size: 0.3rem;
}

@mixin button-middle {
  padding: 0.5rem;
  border-radius: 85px;
  background-color: #e1c340;
  color: $color-btn;
  font-size: 0.7rem;

  &:hover {
    color: $color-general;
    transform: scale(1.3);
  }
}

@mixin button-mobile {
  padding: 0.5rem;
  border-radius: 85px;
  background-color: #e1c340;
  color: $color-btn;
  font-size: 0.5rem;

  &:hover {
    color: $color-general;
    transform: scale(1.3);
  }
}
