@mixin button {
  padding: 0.5rem;
  border-radius: 85px;
  background-color: $color-backgroung;
  color: $color-btn;
  font-size: 0.6rem;

  &:hover {
    color: $color-general;
    transform: scale(1.3);
  }
}

@mixin button-about {
  padding: 0.5rem;
  border-radius: 85px;
  background-color: $color-ahover;
  color: $color-btn;
  font-size: 0.3rem;
}
