$color-general: #e55b13;
$color-links: #f6a21e;
$color-ahover: #e55b13;
$color-btn: #e55b13;
$color-backgroung: #2f3148;
$color-nav-logo-letter: #7a871e;
$color-left-side: #587099;
$color-right-side: #3f5576;
$color-text: #8689ac;
$color-footer: #3f5576;
