$color-general: #e55b13;
$color-links: #f6a21e;
$color-ahover: #e55b13;
$color-btn: #e55b13;
$color-backgroung: #e7f2f8;
$color-nav-logo-letter: #7a871e;
$color-left-side: #fbe7c6;
$color-right-side: #f8ea8c;
