* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  text-align: center;
  // Line 1
  display: flex;
  // Line 2
  flex-direction: column;
  // Line 3
  min-height: 100vh;
}
$nav: 1rem;
$width_general: 100%;

$padding-general: 1.5rem;
