@mixin flex-box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-box-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
