$fontsize-general: 0.5rem;
$font-size-firstletters: 1rem;
$font-size-middle: 1.2rem;
$fontsize-big: 1.3rem;
$font-size-bigger: 2rem;
$font-size-p: 0.9em;
$fontfamily-general: "Montserrat", sans-serif;
